.slider{
    height: calc(100vh - 80px);
    width: 100vw;
    position: relative;
    overflow: hidden;
    .container{
        display: flex;
        width: 300vw;
        height: 100%;
        transition: all 1s ease-in;
        img{
            width: 100vw;
            height: 100%;
            object-fit: cover;
            
        }
    }
    .icons{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        margin: auto;
        bottom: 100px;
        left: 0;
        right: 0;
        width: fit-content;
        .icon{
            cursor: pointer;
        }
    }
}